{% extends "base.html" %}

{% block title %}De Kas - Een Duurzame Kas!{% endblock %}

{% block content %}
<div class="hero">
    <h1>De Kas</h1>
    <p>Meer informatie over onze duurzame kas</p>
</div>

<section class="welcome">
    <h2>Over Onze Kas</h2>
    <p>Hier vind je gedetailleerde informatie over onze duurzame kasproject. Dit is een innovatieve aanpak voor duurzame landbouw en milieuvriendelijke productiemethoden.</p>
</section>

<div class="image-container">
    <img src="https://i.pinimg.com/736x/74/c7/9f/74c79f596d7b09ccd114a116cf3640d6.jpg">
    <div class="image-dot" data-dot="1">
        <div class="popup" id="popup-1">
            <p>Geothermie: Wij maken gebruik van warmte dat uit warmtepompen komen.</p>
        </div>
    </div>
</div>

{% endblock %}
