{% extends "base.html" %}

{% block title %}Interactieve Dashboard - Kas Ontwerp{% endblock %}

{% block content %}
<div class="hero">
    <h1>Interactieve Kas Designer</h1>
    <p>Sleep duurzame elementen in je kas en zie hoe het impact heeft op energie balans</p>
</div>

<section class="innovation">
    <h2>Over Onze Kas</h2>
    <p>Hier vind je gedetailleerde informatie over onze duurzame kasproject.<br>Dit is een innovatieve aanpak voor duurzame landbouw en milieuvriendelijke productiemethoden.</p>
</section> <br><br>  

<section class="dashboard-container">
    <div class="legend">
        <h2>Beschikbare Elementen</h2>
        <p class="legend-description">Sleep deze elementen naar de kas hiernaast</p>
        
        <div class="legend-items">
            <div class="legend-block draggable" draggable="true" data-element="warmte-pomp">
                <div class="block-icon"><img src="{{ url_for('static', filename='images/Elements/Schermafbeelding 2026-02-03 132839.jpg') }}" alt="Warmte Pomp"></div>
                <p>Warmte Pomp</p>
            </div>
            
            <div class="legend-block draggable" draggable="true" data-element="solar-panel">
                <div class="block-icon"><img src="{{ url_for('static', filename='images/Elements/Schermafbeelding 2026-02-03 132843.jpg') }}" alt="Zonnepaneel"></div>
                <p>Geothermie</p>
            </div>
            
            <div class="legend-block draggable" draggable="true" data-element="ventilatie">
                <div class="block-icon"><img src="{{ url_for('static', filename='images/Elements/Schermafbeelding 2026-02-03 132848.jpg') }}" alt="Airmix"></div>
                <p>Warmte doek</p>
            </div>
            
            <div class="legend-block draggable" draggable="true" data-element="verwarming">
                <div class="block-icon"><img src="{{ url_for('static', filename='images/Elements/Schermafbeelding 2026-02-03 132853.jpg') }}" alt="Verwarming"></div>
                <p>Zonnepanneel</p>
            </div>
            
            <div class="legend-block draggable" draggable="true" data-element="water-systeem">
                <div class="block-icon"><img src="{{ url_for('static', filename='images/Elements/Schermafbeelding 2026-02-03 140008.jpg') }}" alt="Water Systeem"></div>
                <p>Verlichting</p>
            </div>
            
            <div class="legend-block draggable" draggable="true" data-element="isolatie">
                <div class="block-icon"><img src="{{ url_for('static', filename='images/Elements/Schermafbeelding 2026-02-03 140014.jpg') }}" alt="Isolatie"></div>
                <p>Warmte buizen</p>
            </div>
        </div>
    </div>

    <!-- screenshot image added to right of legend -->
    <div class="screenshot">
        <img src="{{ url_for('static', filename='images/Prototype/Screenshot 2026-03-13 005455.png') }}" alt="Dashboard screenshot" class="responsive-image">
    </div>

</section>

{% endblock %}
